<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
</head>
<body>
    <h1>Productos en tiempo real</h1>

    <ul id="productsList"></ul>

    <h2>Agregar producto</h2>

    <form id="productForm">

    <input type="text" name="title" placeholder="title">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="code" placeholder="code">
    <input type="number" name="price" placeholder="price">
    <input type="number" name="stock" placeholder="stock">
    <input type="text" name="category" placeholder="category">

    <button type="submit">Agregar</button>

    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realtime.js"></script>
</form>
</body>
</html>